node_modules/
ml-env/
venv/
.env
dist/
build/
*.pkl
*.dll
*.exe
__pycache__/
*.pyc
fraud_detection_model.pkl
premium_prediction_model.pkl
server/node_modules/
client/node_modules/
ml-models/
query
.DS_Store
*.log